APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

DEV_TOYYIB_SECRET_KEY=
DEV_YOYYIB_URL=

BIZAPPAY_SECRET_KEY=
BIZAPPAY_URL=

NODEJS_ENDPOINT=
NODEJS_TOKEN=

LOG_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
MESSAGE_LOG_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
ADMIN_LOG_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
AUTOREPLY_LOG_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
BROADCAST_LOG_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
CHAT_LOG_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
CONTACT_LOG_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
DEVICE_LOG_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
INVOICE_LOG_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
PAYMENT_LOG_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
SUBS_LOG_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
USER_LOG_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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